.font-size-12px {
    font-size: 12px;
}
.exe-test-page{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto 1fr;
    height: stretch;
}
.exe-test-page-control-bar{
    display: flex;
    align-items: center;
    font-size: 12px;
    margin: 16px 0;
    grid-column: 1/2;
    grid-row: 1/2;
}
.exe-test-page-control-bar *{
    font-size: 12px;
    width: max-content;
    margin: 0 12px;
}
.exe-test-page-table{
    grid-column: 1/2;
    grid-row: 2/3;
}